# Задача №1

In [1]:
import pandas as pd

In [34]:
movies = pd.read_csv('ml-latest-small/movies.csv')
ratings = pd.read_csv('ml-latest-small/ratings.csv')

joined_tables = ratings.merge(movies, on = 'movieId', how = 'left')

highest_rating = joined_tables.groupby('movieId').count().sort_values('rating', ascending = False).filter(items = ['movieId'])

title = highest_rating.merge(movies, on = 'movieId', how = 'left')
title.head()

   movieId                             title                       genres
0      356               Forrest Gump (1994)     Comedy|Drama|Romance|War
1      318  Shawshank Redemption, The (1994)                  Crime|Drama
2      296               Pulp Fiction (1994)  Comedy|Crime|Drama|Thriller
3      593  Silence of the Lambs, The (1991)        Crime|Horror|Thriller
4     2571                Matrix, The (1999)       Action|Sci-Fi|Thriller

# Задача №2

In [25]:
file = pd.read_csv('power.csv')

baltic = file[ (file['country'] == 'Latvia') | (file['country'] == 'Estonia') | (file['country'] == 'Lithuania')]

year = baltic [ baltic['year'].between(2005, 2010) ]

categories = year[ (year['category'] == 4) | (year['category'] == 12) | (year['category'] == 21)  ]

quantity_filter = categories [categories.quantity >= 0]

total_sum = quantity_filter.quantity.sum()

print(total_sum)

240580.0

# Задача №3

In [38]:
irr_verbs = pd.read_html('https://engblog.ru/table-of-irregular-verbs', encoding = 'utf-8')[0]

irr_verbs.head(20)

   Infinitive Past Simple (V2) Participle II (V3)             Перевод
0       arise            arose             arisen         подниматься
1       awake            awoke             awoken          пробуждать
2          be       was (were)               been                быть
3        bear             bore               born  рожать, переносить
4        beat             beat             beaten                бить
5      become           became             become         становиться
6       begin            began              begun            начинать
7        bend             bent               bent           наклонять
8         bet              bet                bet      заключать пари
9        bind            bound              bound           связывать
10       bite              bit             bitten              кусать
11      bleed             bled               bled         кровоточить
12       blow             blew              blown                дуть
13      break            broke             broken              ломать
14      breed             bred               bred  разводить животных
15      bring          brought            brought           приносить
16      build            built              built             строить
17        buy           bought             bought            покупать
18      catch           caught             caught              ловить
19     choose            chose             chosen            выбирать